*{
    margin: 0;padding: 0;
    box-sizing: border-box;
    transition: all .2s linear;
}
html{
    scroll-behavior: smooth;
}
body{
    overflow-x: hidden;
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
}
.couleur{
    color: #5F76A7;
}
/* barre de navigation */
#logo_djago{
    color: #EF1F38 ;
    font-size: x-large;
    -webkit-text-stroke: 0.4px white;
    cursor: pointer;
}
#logo_membre{
    font-size: xx-small;
    color: white;
    position: absolute;
}
.navbar{
    color: white;
    text-transform: uppercase;
    font-size: 20px;
    font-size: .9rem;
    letter-spacing: rem;
}
.nav-link{
    color: white;
}
.nav-link:hover{
    text-decoration:underline;
    color: #EF1F38;
}
header{
    position: fi;
    background-color:#5F76A7;
    border: #EF1F38 2px 2p 2px 2px;
}

.banner{
    background: url(images/image1.jpg) no-repeat;
    width: 100%;
    background-size: cover;
    height: 700px;
}
#figure1 {
    width: 28%;
  height: 100%;
  border-bottom: 700px solid #5F76A7 ;
  border-right: 50px solid transparent ;
  position : relative;
  opacity: 95%;
}
#picture{
    border-radius: 200%;
    border-color: 10px solid #5F76A7 ;

}
#text_figure1{
    position: absolute;
    margin-top: 8cm;
    color: aliceblue;
    font-size: larger;
}
footer{
    background-color: #5F76A7;
}
  

           /* onglets a propos  */
.propos_section1{
    background: url(images/image3.png) , no-repeat;
    background-size: cover;
    height: 100%;
    width: 100%;
}
.propos_section2{
    height: 800px;
}
.p1{
    font-size: 30px;
    width: 70%;
    text-align: justify;
    margin-left: 4cm;
   font-weight: bolder;
}
.propos_contact{
    width: 100%;
    height: 400px;
    background-size: cover;


}
#chartdiv {
    width: 70%;
    height: 80%;
  }

  /* onglets temoignages */
  .banner{
    background: url(images/fc129ab27298e33464ec054a163b-1434873.jpg) no-repeat;
    background-size: cover;
  }
  .rectang {
    position:relative;
    width: 60cm;
    padding-bottom: 0.1cm;
    padding-top: 1cm;
    margin-top: -1cm;
    color: white;
    background-color: #5F76A7;
    text-align: center;
  }
  .row{
    padding-top: 5cm;
  }
  /* onglets portfolio */
.portfolio_section1{
    background-image: url(images/american_Asian_coffee_colleagues_communication_conference_room_cups_discussing-1550717.jpg);
    background-size: cover;
    height: 800px;
}
.portfolio_section1 h1{
    text-align: center;
}
.div_portfolio_section1{
    background-color: #5F76A7;
}
.contact_section1{
    background: url(images/téléchargement1.jpg),no-repeat;
    background-size:cover;
    height: 100%;
    border: none;
    border-radius: none;
}

/* onglets contact */
.formulaire{
    height: 100%;
}