* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    transition: all .2s linear;
}

html {
    scroll-behavior: smooth;
}

body {
    overflow-x: hidden;
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    height: 100%;
    width: 100%;
}

.acsection1 {
    height: 100%;
    margin-bottom: 50px;
    position: relative;
    z-index: 1;
}

.nav-link {
    color: white;
}

.nav-link:hover {
    text-decoration: underline;
    color: #EF1F38;
}

.couleur {
    background-color: #5F76A7 !important;
}

.text_couleur {
    color: #5F76A7;
}

.logo_membre {
    font-size: xx-small !important;
    color: white !important;
}

.logo_djago {
    color: #EF1F38;
    font-size: x-large;
    -webkit-text-stroke: 0.4px white;
}

.design:hover {
    color: linear-gradient(to right, red, orange, yellow, green, blue, indigo, violet);
    animation: mymove 5s infinite;
}

@keyframes mymove {
    50% {
        translate: -30px 50px;
    }

    50% {
        text-shadow: 10px 20px 30px blue;
    }
}

#figure1 {
    width: 28%;
    height: 700px;
    border-bottom: 630px solid #5F76A7;
    border-right: 50px solid transparent;
    opacity: 95%;
    margin-top: -17cm;
    margin-left: 0cm;
}

.icon {
    width: 150px;
    height: 150px;
    border-radius: 50%;
    border: 10px solid #5F76A7;
}

.image2 {
    height: 420px;
    width: 420px;
    border-radius: 50%;
    margin-top: 2cm;
}

.drapeau h1 {
    margin-left: 1cm !important;
}

.carte {
    background-image: url(images/carte_djao.png);
    background-size: cover;

}

.acsection3 {
    height: 790px;
    margin-bottom: 50px;
    z-index: 1;
    margin-top: 100px;
}

.p1_acsection3 {
    color: #5F76A7;
    font-size: 30px;
}

.bouton_recouvrir {
    background-color: #5F76A7;
    width: 10cm;
    text-align: center;
    margin-left: 30%;
    border-radius: 10px;
    padding-top: 0.5cm;
}

@media all and(max-width:1200px) {
    .row {
        display: block;
        margin: 0;
    }

}

@media all and(min-width:500px) {
    .row {
        display: block;
        margin: 0;
        margin-top: 300px;
    }
}

.acsection4 {
    height: 350px;
    margin-bottom: 50px;
    z-index: 1;
    margin-top: 50px;
}

footer {
    background-color: #5F76A7;
    color: white;
    height: 400px;

}

/* proprietes css de a propos */
.proposection1 {
    height: 600px;
}

.proposection2 {
    height: 1500px;
}

.btninter {
    background-color: #5F76A7;
    color: white;
    width: 50%;
    margin-left: 30%;
    text-align: center;
    height: 5%;
    margin-top: -2%;
    position: relative;
    padding-top: 2%;
    font-size: larger;
    font-weight: bold;
    padding-bottom: 1%;
}

.para_proposection2 {
    font-weight: 300;
}

.couleur_noir {
    color: black;
}

.proposection3 {
    height: 600px;
}

div.polaroid {
    width: 80%;
    background-color: white;
    box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
    margin-bottom: 25px;
    animation: mymove 5s infinite;
}

@keyframes mymove {
    50% {
        translate: -30px 50px;
    }

    50% {
        text-shadow: 10px 20px 30px blue;
    }
}

/* propriétés de services */
.barreserch {
    width: 40%;
    margin-left: 60%;
    margin-bottom: 60%;
    border: #5F76A7 !important;
}

.servsection1 {
    height: 750px;
}

.servsection2 {
    height: 850px;
}

.icon_service {
    width: 80px;
    height: 80px;
    margin-left: 20%;
    margin-top: 20%;
}

.div_icon {
    width: 150px;
    height: 150px;
    border-radius: 50%;
    background-color: #5F76A7;
}

.para_service {
    font-weight: 900;
    width: 80%;
    margin-left: 10%;
    margin-top: 10%;
    font-size: xx-large;
}

.titre-section3 {
    background-color: #5F76A7;
    width: 50%;
    margin-left: 20%;
    border-radius: 20px;
    margin-top: 5%;
}

.servsection3 {
    height: 500px;
    margin-top: 0%;
    width: 100%;

}

.cadre_element {
    background: linear-gradient(180deg, #448AFF, #002a40);
    height: 200px;
    border-radius: 2px;
    align-items: "center";
    margin-left: 2%;
    margin-top: 2%;

}

.cadre_element:hover {
    background: white;
    color: #5F76A7;
    cursor: pointer;
    box-shadow: 5px 10px 20px 2px red;

}

/* propriétées de portfolio */
.portsection1 {
    height: 1000px;
}

.portsection2 {
    background-color: rgb(247, 247, 247);
    height: 1200px;
    margin-top: 1cm;
}

.div_portsection2 {
    position: relative;
}

.portsection3 {
    height: 350px;
    position: relative;
}

/* propriétés de la page contact */
.showcase {
    height: 500px;
}

.contsection1 {
    height: 600px;
    position: relative;
    margin-top: 6cm;
}

.barre_rej {
    color: white;
    width: 35%;
    height: 15%;
    text-align: center;
    margin-left: 40%;
    margin-top: -1cm;
    background-color: #5F76A7;
    border-radius: 10px;
    border: 5px solid white;
    position: relative;
}

.contsection2 {
    height: 400px;
    position: relative;
}

input[type=text],
textarea,
input[type=email] {
    width: 100%;
    padding: 12px;
    border: 3px solid #5F76A7;
    border-radius: 4px;
    box-sizing: border-box;
    margin-top: 6px;
    margin-bottom: 16px;
    margin-right: 0px;
    margin-left: 0px;
    resize: vertical;
    border-radius: 10px;
}

label {
    margin-right: 0px;
    margin-left: 0px;
    width: 100%;
}

input[type=button] {
    background-color: #5F76A7;
    font-weight: 900;
    color: white;
    padding: 12px 20px;
    cursor: pointer;
    margin-left: 40%;
    border-radius: 20px;
    border: none;
    width: 4cm;
}

.formulaire {
    box-sizing: border-box;
    border-radius: 5px;
    padding: 20px;
    max-width: 500px;
    max-height: 600px;
    margin: 0 auto;
    margin-top: 50%;
}

/* propriétés de la page temoignages */
.temoi_section1 {
    height: 600px;
}

.rectang {
    position: relative;
    width: 60cm;
    padding-bottom: 0.1cm;
    padding-top: 1cm;
    margin-top: -1cm;
    color: white;
    background-color: #5F76A7;
    text-align: center;
}